#grid {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color: black;
    height: 500px;
    width: 500px;
}

.square {
    flex-direction: column;
    justify-content: space-evenly;
    border: solid;
    border-color: black;
}